* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:first-of-type {
  padding-top: 80px;
  /* Adjust based on navbar height */
}

.mcqueen-bg {
  background-image: url(../img/landing-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}